<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Проект &laquo;Новгородская квартира&raquo; - Недвижимость Великого Новгорода.</title>
	<link rel="icon" href="http://www.novkva.ru/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://www.novkva.ru/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
	<script src="./js/qtip.js"></script>
	<script src="./js/script.js"></script>
	<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
	<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
	<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
	<script src="./js/a.js"></script>
</head>
<body>
<nav class="main-menu">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand scroll-to" href="#home"><div class=logo title="Недвижимость Великого Новгорода. Проект Новгородская квартира"></div></a>
            <ul class="nav pull-right">
                <li><a href="#home">Главная</a></li>
                <li><a href="#about">Материалы</a></li>
                <li><a href="#services">Агентства</a></li>
                <li><a href="#blog">Вакансии</a></li>
                <li><a href="#portfolio">Услуги</a></li>
                <li><a href="#contact">Компании</a></li>
                <li><a class="linkBlue" data-placement="bottom" data-toggle="popover" data-original-title="Вход для пользователей">Войти</a></li>
            </ul>
        </div>
    </div>
</nav>